body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-left: 32px;
}

.header.ul{
    display: flex;
    list-style: none;

}

.info-header{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: start;
    
    gap: 1em;
    margin-top: 0;
}

li{
    list-style-type: none;
}

.info-title {
    font: 36px;
    font-weight: 1000;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    border:1px solid #3882f6;
    height: 200px;
    width: 200px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.hero {
    display: flex;
    font-size: 18px;
    color: #E5E7Eb;
}

.container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 200px;
    background-color: #3882f6;
    justify-items: center;
    align-items: center;
    flex: 1;
}

.quote-container {
    display: flex;
    background-color: #E5E7Eb;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex: 1;
    flex-wrap: wrap;
}
.hero {
    display: flex;
}

.button1 {
    display: flex;
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    padding: 4px;

}

.button2 {
    display: flex;
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    align-items: flex-end;
    justify-content: center;
    padding: 4px;
    border: 4px #F9FAF8;
}


footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}