@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    background-color: #1F2937;
    margin-right: initial;
}

.logo {
    display: flex;   
    align-items: center;
    flex-grow: 1;
    padding-left: 48px;
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-right: 48px;
}

.link {
    display: flex;
    border: 2px;
}

.hero-box{
    display: flex;
    background-color: #1F2937;
    
}

.hero-main {
    font-size: 48px;
    font-weight: "extra-bold";
    color: #F9FAF8;    
    flex-wrap: wrap;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.hero-button {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;  
    width: fit-content;
    margin-left: 42px;
}

.hero-img-box {
    display: flex;
    padding: 24px;
}

.hero-img {
    display: flex;
    
}

.info-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-header {
   display: flex; 
   font-size: 36px;
   font-weight: "extra-bold";
   color: #1F2937;
   justify-content: center;
   margin-bottom: 48px;
}

img {
    width: initial;
    border: 2px #3882F6;
    border-radius: 8px;
}

.info-img {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: auto;
}

.text {
    flex-wrap: wrap;
    width: 100px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: light;
    color: #1F2937;
    padding: 48px;
    margin: auto;
    flex-wrap: wrap;
}

.quotee {
    display: flex;
    font-size: 36px;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
    margin-right: 48px;
}

.action-container {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 24px;
}

.action-box {
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
    width: auto;
    height: auto;
    border: #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 24px;
}

.action-button {
    display: flex;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 8px 24px;  
    width: fit-content;
    margin-right: 48px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 72px;   
    color: #e5e7eb; 
}

/* {
    border: 2px solid red;
}